<% layout("/layouts/boilerplate") %>
    <div class="row mt-3"><!--mt is bootstrap's feature margin-top-->
        <div class="col-8 offset-2"> <!--the input boxes occupy 8 spaces and due to offset-2 its in the middle-->
            <b><h3>Editing property: <%= listing.title %></b></h3>

            <form method="POST" action="/listings/<%= listing.id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data"> <!--novalidate used to disable browsers ui and needs-validation class is in script.js file that checks if something in the form is invalid-->
                <!--form-label and form-control classes are all bootstrap clasess used to automatically style the website's input areas proprly.-->
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input id="title" name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
                    <div class="valid-feedback">Title looks good!</div>
                    <div class="invalid-feedback">Title can't be blank.</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" name="listing[description]" class="form-control" required><%= listing.description %></textarea>
                    <div class="valid-feedback">Good description!</div>
                    <div class="invalid-feedback">Short description should be provided.</div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input id="image" name="listing[image]" type="file" class="form-control"
                        placeholder="Enter image URL">
                </div>

                <div class="row mb-3">
                    <div class="col-md-5">
                        <label for="price" class="form-label">Price</label>
                        <input id="price" name="listing[price]"  value="<%= listing.price %>" class="form-control" required>
                        <div class="invalid-feedback">Please enter a valid price.</div>
                    </div>
                    
                    <div class="col-md-7">
                         <label for="location" class="form-label">Location</label>
                        <input id="location" name="listing[location]" value="<%= listing.location %>" class="form-control" required>
                        <div class="invalid-feedback">Location can't be blank!</div>
                    </div>
                </div>
                

                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input id="country" name="listing[country]" value="<%= listing.country %>" class="form-control" required>
                    <div class="invalid-feedback">Country name can't be blank!</div>
                </div>

                
                <div class="mb-3">
                    <label class="form-label">Categories</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="PG" name="listing[category]" id="pg"
                        <%= listing.category.includes("PG") ? "checked" : "" %>>
                        <label class="form-check-label" for="pg">PG</label>
                    </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Hostels" name="listing[category]" id="hostel"
                    <%= listing.category.includes("Hostels") ? "checked" : "" %> >
                    <label class="form-check-label" for="hostel">Hostels</label>
                </div>

                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Shared" name="listing[category]" id="shared"
                <%= listing.category.includes("Shared") ? "checked" : "" %>>
                <label class="form-check-label" for="shared"> Shared</label>
                </div>

    <div class="form-check">
        <input 
            class="form-check-input" type="checkbox" value="Budget"  name="listing[category]" id="budget"
            <%= listing.category.includes("Budget") ? "checked" : "" %> >
        <label class="form-check-label" for="budget"> Budget </label>
    </div>

    <div class="form-check">
        <input  class="form-check-input" type="checkbox" value="Students" name="listing[category]" id="students"
        <%= listing.category.includes("Students") ? "checked" : "" %> >
        <label class="form-check-label" for="students">  Students </label>
    </div>

    <div class="form-check">
        <input class="form-check-input"  type="checkbox" value="Pet" name="listing[category]" id="Pet"
            <%= listing.category.includes("Pet") ? "checked" : "" %> >
        <label class="form-check-label" for="Pet"> Pet </label>
    </div>

    <div class="form-check">
        <input 
            class="form-check-input"
            type="checkbox"
            value="Couple"
            name="listing[category]"
            id="Couple"
            <%= listing.category.includes("Couple") ? "checked" : "" %>
        >
        <label class="form-check-label" for="Couple">
            Couple
        </label>
    </div>

    <div class="form-check">
        <input 
            class="form-check-input"
            type="checkbox"
            value="Parking"
            name="listing[category]"
            id="Parking"
            <%= listing.category.includes("Parking") ? "checked" : "" %>
        >
        <label class="form-check-label" for="Parking">
            Parking
        </label>
    </div>

    <div class="form-check">
        <input   class="form-check-input" type="checkbox" value="Furnished" name="listing[category]" id="Furnished"
        <%= listing.category.includes("Furnished") ? "checked" : "" %>>
        <label class="form-check-label" for="Furnished"> Furnished </label>
    </div>

    <div class="form-check">
        <input  class="form-check-input" type="checkbox"  value="Girls Only" name="listing[category]" id="Girls Only"
        <%= listing.category.includes("Girls Only") ? "checked" : "" %>>
        <label class="form-check-label" for="Girls Only"> Girls Only </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Boys Only" name="listing[category]" id="Boys Only" 
        <%= listing.category.includes("Boys Only") ? "checked" : "" %>>
        <label class="form-check-label" for="BoysOnly">Boys Only</label>
</div>

</div>

                <button type="submit" class="btn btn-dark edit-btn mb-3">Edit Listing</button>
                <!-- btn btn-dark these are also bootstrap classes only-->
            </form>
        </div>
    </div>